@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #d1d5db;
    -webkit-text-fill-color: #7c3aed;
    -webkit-box-shadow: 0 0 0px 1000px #ddd6fe inset;
    transition: background-color 5000s ease-in-out 0s;
    color: #ddd6fe;
}